.conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.473);
  max-width: 500px;
  width: 100%;
  padding: 15px;
  backdrop-filter: blur(15px);
  border-radius: 10px;
  box-shadow: 1px 1px 5px 1px rgba(250, 250, 250, 0.11);

  @media (max-width: 640px) {
    max-width: 80%;
  }

  &__form {
    width: 100%;

    .container-form {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      position: relative;
    }

    &__cidade {
      width: 100%;
      height: 40px;
      background-color: transparent;
      border: none;
      border-bottom: 3px solid #fff;
      font-size: 20px;

      &:focus {
        outline: none;
        text-indent: 20px;
        @media (max-width: 640px) {
          text-indent: 5px;
        }
      }

      &::placeholder {
        color: #ffff;
        font-size: 20px;
        text-indent: 20px;

        @media (max-width: 640px) {
          font-size: 14px;
          text-indent: 5px;
        }
      }
    }

    &__btn {
      position: absolute;
      bottom: 5px;
      left: 425px;
      width: 36px;
      height: 36px;
      background-color: transparent;
      border: none;
      transition-duration: 0.5s;
      cursor: pointer;

      i {
        color: #fff;
        font-size: 25px;
        &:hover {
          font-size: 30px;
          transition-duration: 0.5s;
        }
      }

      @media (max-width: 640px) {
        top: 3px;
        left: 170px;

        i {
          font-size: 18px;
          &:hover {
            font-size: 18px;
          }
        }
      }

      @media (max-width: 320px) {
        top: 3px;
        left: 150px;

        i {
          font-size: 18px;
          &:hover {
            font-size: 18px;
          }
        }
      }
    }

    @media (max-width: 640px) {
      font-size: 16px;
      width: 80%;
    }
  }
}
